/* ===========================
   FONTS
   =========================== */

/* bai-jamjuree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/bai-jamjuree-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* bai-jamjuree-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/bai-jamjuree-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --green-500: hsl(171, 66%, 44%);
    --green-450: hsl(171, 51%, 59%);
    --blue-100: hsl(233, 100%, 69%);
    --blue-50: hsl(232, 95%, 76%);
    
    /* Neutral */
    
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
    --gray-100: hsl(220, 18%, 97%);
      
    --font-base: 'Bai Jamjuree', sans-serif;
}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--gray-700);
    font-size: 1.125rem;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.main {
    background-image: url(assets/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
 }  

.history {
    text-align: center;
    padding: 7.75rem 1.875rem 5rem;
}

.history__logo {
    width: 7.75rem;
    height: 7.75rem;
    margin: 0 auto 4rem;
}

.history__title {
    font-size: 2rem;
    font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
    line-height: 2.5rem;
    line-height: clamp(2.5rem, 2.0599rem + 1.8779vw, 3.75rem);
    letter-spacing: -0.02em;
}

.history__description {
    font-size: 0.9375rem;
    font-size: clamp(0.9375rem, 0.8275rem + 0.4695vw, 1.25rem);
    line-height: 1.625rem;
    line-height: clamp(1.625rem, 1.537rem + 0.3756vw, 1.875rem);
    letter-spacing: 0.04em;
    margin: 1.125rem 0 3rem;
    color: var(--gray-500);
}

.download__btn {
    display: block;
    padding: 1rem;
    width: clamp(0px, 84vw, 350px);
    margin: 0 auto;
    border-radius: 50vh;
    font-size: 1.125rem;
    letter-spacing: 0.04em;
    color: white;
}

.download__btn--ios {
    background-color: var(--green-500);
    margin-bottom: 1.375rem;
    box-shadow: 0px 10px 30px -10px rgba(38, 186, 164, 0.4);
}

.download__btn--mac {
    background-color: var(--blue-100);
    box-shadow: 0px 10px 30px -10px rgba(97, 115, 255, 0.4);
}

.download__btn--ios:hover,
.download__btn--ios:active {
    background-color: var(--green-450);
    cursor: pointer;
}

.download__btn--mac:hover,
.download__btn--mac:active {
    background-color: var(--blue-50);
    cursor: pointer;
}

.keep-track {
    padding: 5.125rem 1.875rem;
    text-align: center;
}

.keep-track__title,
.access__title,
.workflow__title,
.download__title {
    font-size: 1.75rem;
    font-size: clamp(1.75rem, 1.5739rem + 0.7512vw, 2.25rem);
    line-height: 2.125rem;
    line-height: clamp(2.125rem, 1.9049rem + 0.939vw, 2.75rem);
    letter-spacing: -0.02em;
}

.keep-track__description,
.keep-track__item-description,
.access__description,
.workflow__description,
.workflow__item-description,
.download__description {
    font-size: 0.9375rem;
    font-size: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
    line-height: 1.625rem;
    line-height: clamp(1.625rem, 1.537rem + 0.3756vw, 1.875rem);
    letter-spacing: 0.04em;
    color: var(--gray-500);
}

.keep-track__description {
    margin: 1rem 0 4rem;
}

.keep-track__image {
    margin: 0 auto;
    height: 100%;
}

.keep-track__list {
    margin-top: 3.75rem;
}

.keep-track__item {
    margin-bottom: 3.25rem;
}

.keep-track__item-title {
    font-size: 1.5rem;
    line-height: 1.625rem;
    letter-spacing: -0.02em;
    margin-bottom: 0.625rem;
}

.access {
    padding: 3.25rem 1rem;
    text-align: center;
}

.access__description {
    margin: 1.125rem 0 3.75rem;
    padding: 0 14px;
}

.access__image {
    margin: 0 auto;
    filter: drop-shadow(0 30px 60px rgba(0,0,0,0.1));
}

.workflow {
    padding: 2.875rem 1.875rem;
    text-align: center;
}

.workflow__description {
    margin: 0.875rem 0 5.625rem;
}

.workflow__item {
    margin-bottom: 3.5rem;
}

.workflow__item-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.02em;
    margin: 2.25rem 0 1.125rem;
}

.workflow__item-title--text {
    margin: 2.5rem 0 1.125rem;
}

.workflow__item-title--preview {
    margin: 2.625rem 0 1.125rem;
}

.enterprises {
    padding: 1.875rem 0;
}

.enterprises__logo {
    margin: 0 auto;
}

.enterprises__logo--google {
    width: 8.75rem;
    margin-bottom: 4.125rem;
}

.enterprises__logo--ibm {
    width: 7.25rem;
    margin-bottom: 4.3125rem;
}

.enterprises__logo--microsoft {
    width: 8.4375rem;
    margin-bottom: 3.875rem;
}

.enterprises__logo--hp {
    width: 7.0625rem;
    margin-bottom: 3.5625rem;
}

.enterprises__logo--vector {
    width: 6.5625rem;
}

.download {
    padding: 8.75rem 2rem 10.625rem;
    text-align: center;
}

.download__description {
    margin: 1.125rem 0 3rem;
}

.footer {
    background-color: var(--gray-100);
    text-align: center;
}

.footer__links-main {
    padding: 3.25rem 0;
}

.footer__logo {
    width: 3.375rem;
    margin: 0 auto;
}

.footer__list {
    margin: 3rem 0 3.375rem;
}

.footer__link {
    font-size: 1.125rem;
    display: block;
    margin-bottom: 1.625rem;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 152px;
    margin: 0 auto;
}

.footer__link:hover,
.footer__link:active {
    cursor: pointer;
    color: var(--green-500);
}

.footer__social-link:hover path,
.footer__social-link:active path{
    cursor: pointer;
    fill: var(--green-500);
}

.footer__attribution { 
    font-size: 1rem;
    padding: 1rem;
}

.footer__attribution-link { 
    color: hsl(228, 45%, 44%);
}

.footer__attribution-link:hover {
    text-decoration: underline;
}

@media (min-width: 750px) {
    .main {
        background-image: url(assets/images/bg-header-desktop.png);
     }

    .history {
        padding: 8.125rem 0rem 5rem;
    }

    .history__logo {
        margin: 0 auto 3.375rem;
    }

    .history__title {
        letter-spacing: -0.035em;
    }

    .history__description {
        letter-spacing: 0.0075em;
        margin: 1rem auto 3rem;
        max-width: 43.4375rem;
    }

    .history__btn-group,
    .download__btn-group {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
    }

    .download__btn {
        padding: 1rem;
        margin: 0;
        max-width: 14.25rem;
        font-size: 1.125rem;
        letter-spacing: 0.04em;
    }

    .keep-track {
        padding: 4.75rem 0rem 2.25rem;
    }

    .keep-track__description {
        max-width: 45rem;
        margin: 1.125rem auto 5rem;
        letter-spacing: 0.01em;
    }

    .keep-track__item-description {
        font-size: 1rem;
        line-height: 1.875rem;
        letter-spacing: 0.0075em;
        max-width: 21.875rem;
        margin: 0 auto
    }

    .keep-track__item {
        margin-bottom: 3.625rem;
    }

    .access {
        padding: 7.25rem 0rem 2.25rem;
        text-align: center;
    }

    .access__description {
        margin: 1.125rem auto 6.25rem;
        padding: 0;
        max-width: 42.5rem;
        letter-spacing: 0.0075em;
    }

    .workflow {
        padding: 2.25rem 1.875rem;
        text-align: center;
    }

    .workflow__description {
        margin: 1rem 0 5rem;
        letter-spacing: 0.0075em;
    }

    .workflow__list {
        display: flex;
        justify-content: center;
        gap: 2.125rem;
    }

    .workflow__item {
        max-width: 21.875rem;
    }

    .workflow__item-description {
        font-size: 1rem;
        line-height: 1.875rem;
        letter-spacing: 0.0075em;
    }

    .workflow__item-title {
        margin: 2rem 0 1.125rem;
    }

    .workflow__item-title--text {
        margin: 2.5rem 0 1.125rem;
    }
    
    .workflow__item-title--preview {
        margin: 2.375rem 0 1.125rem;
    }

    .enterprises {
        padding: 4rem 0 1rem;
        display: flex;
        align-items: center;
        max-width: 69.375rem;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
    }

    .enterprises__logo {
        margin: 0;
        height: 100%;
    }

    .enterprises__logo--google {
        width: 11.5625rem;
    }

    .enterprises__logo--ibm {
        width: 8.6875rem;
    }

    .enterprises__logo--microsoft {
        width: 10.0625rem;
    }

    .enterprises__logo--hp {
        width: 8.4375rem;
    }

    .enterprises__logo--vector {
        width: 7.8125rem;
    }

    .download__description {
        margin: 1.25rem auto 3rem;
        max-width: 45rem;
        letter-spacing: 0.0075em;
    }

    .download {
        padding: 8.75rem 0 9.4375rem;
    }

    .footer__links-main {
        display: grid;
        grid-template-columns: 0.234fr 1fr 7.5rem;
        max-width: 69.375rem;
        margin: 0 auto;
        padding: 2.75rem 32px 2.5rem;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__list {
        display: flex;
        text-align: start;
        gap: 6.125rem;
        margin: 0;
    }
    
    .footer__link {
        margin-bottom: 1.25rem;
        font-size: clamp(0.875rem, 0.4583rem + 0.8889vw, 1.125rem);
    }

    .footer__item--install {
        position: relative;
        left: -20px;
    }

    .footer__social-list {
        padding: 1.25rem 0;
        max-width: 7.5rem;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .keep-track__group {
        display: flex;
        gap: 4.875rem;
    }

    .keep-track__image {
        position: relative;
        left: -32px;
        margin: 0;
    }

    .keep-track__list {
        text-align: start;
        margin-top: 4.25rem;
    }

    .enterprises {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 0px;
    }

    .enterprises__logo--google {
        margin: 0 6.1875rem 0 0;
    }

    .enterprises__logo--ibm {
        margin: 0 5.9375rem 0 0;
    }

    .enterprises__logo--microsoft {
        margin: 0 6.0625rem 0 0;
    }

    .enterprises__logo--hp {
        margin: 0 5.875rem 0 0;
    }

    .enterprises__logo--vector {
        width: 7.8125rem;
    }

    .footer__links-main {
        padding: 2.75rem 0px 2.5rem;
    }
}