/* ===========================
   FONTS
   =========================== */

/* bai-jamjuree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/bai-jamjuree-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* bai-jamjuree-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/bai-jamjuree-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --green-500: hsl(171, 66%, 44%);
    --blue-100: hsl(233, 100%, 69%);
    
    /* Neutral */
    
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
      
    --font-base: 'Bai Jamjuree', sans-serif;
}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--gray-700);
    font-size: 18px;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */