/* ===========================
   FONTS
   =========================== */

/* bai-jamjuree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/bai-jamjuree-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* bai-jamjuree-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/bai-jamjuree-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --green-500: hsl(171, 66%, 44%);
    --blue-100: hsl(233, 100%, 69%);
    
    /* Neutral */
    
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
    --gray-100: hsl(220, 18%, 97%);
      
    --font-base: 'Bai Jamjuree', sans-serif;
}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--gray-700);
    font-size: 18px;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.main {
    background-image: url(assets/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
 }  

.history {
    text-align: center;
    padding: 124px 30px 80px;
}

.history__logo {
    width: 124px;
    height: 124px;
    margin: 0 auto 64px;
}

.history__title {
    font-size: 32px;
    font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
    line-height: 40px;
    line-height: clamp(2.5rem, 2.0599rem + 1.8779vw, 3.75rem);
    letter-spacing: -0.02em;
}

.history__description {
    font-size: 15px;
    font-size: clamp(0.9375rem, 0.8275rem + 0.4695vw, 1.25rem);
    line-height: 26px;
    line-height: clamp(1.625rem, 1.537rem + 0.3756vw, 1.875rem);
    letter-spacing: 0.04em;
    margin: 18px 0 48px;
    color: var(--gray-500);
}

.download__btn {
    display: block;
    padding: 16px;
    width: clamp(0px, 84vw, 350px);
    margin: 0 auto;
    border-radius: 50vh;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: white;
}

.download__btn--ios {
    background-color: var(--green-500);
    margin-bottom: 22px;
    box-shadow: 0px 10px 30px -10px rgba(38, 186, 164, 0.4);
}

.download__btn--mac {
    background-color: var(--blue-100);
    box-shadow: 0px 10px 30px -10px rgba(97, 115, 255, 0.4);
}

.keep-track {
    padding: 82px 30px;
    text-align: center;
}

.keep-track__title,
.access__title,
.workflow__title,
.download__title {
    font-size: 28px;
    font-size: clamp(1.75rem, 1.5739rem + 0.7512vw, 2.25rem);
    line-height: 34px;
    line-height: clamp(2.125rem, 1.9049rem + 0.939vw, 2.75rem);
    letter-spacing: -0.02em;
}

.keep-track__description,
.keep-track__item-description,
.access__description,
.workflow__description,
.workflow__item-description,
.download__description {
    font-size: 15px;
    font-size: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
    line-height: 26px;
    line-height: clamp(1.625rem, 1.537rem + 0.3756vw, 1.875rem);
    letter-spacing: 0.04em;
    color: var(--gray-500);
}

.keep-track__description {
    margin: 16px 0 64px;
}

.keep-track__image {
    margin: 0 auto;
}

.keep-track__list {
    margin-top: 60px;
}

.keep-track__item {
    margin-bottom: 52px;
}

.keep-track__item-title {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}

.access {
    padding: 52px 16px;
    text-align: center;
}

.access__description {
    margin: 18px 0 60px;
    padding: 0 14px;
}

.access__image {
    margin: 0 auto;
}

.workflow {
    padding: 46px 30px;
    text-align: center;
}

.workflow__description {
    margin: 14px 0 90px;
}

.workflow__item {
    margin-bottom: 56px;
}

.workflow__item-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin: 36px 0 18px;
}

.workflow__item-title--text {
    margin: 40px 0 18px;
}

.workflow__item-title--preview {
    margin: 42px 0 18px;
}

.enterprises {
    padding: 30px 0;
}

.enterprises__logo {
    margin: 0 auto;
}

.enterprises__logo--google {
    width: 140px;
    margin-bottom: 66px
}

.enterprises__logo--ibm {
    width: 116px;
    margin-bottom: 69px;
}

.enterprises__logo--microsoft {
    width: 135px;
    margin-bottom: 62px;
}

.enterprises__logo--hp {
    width: 113px;
    margin-bottom: 57px;
}

.enterprises__logo--vector {
    width: 105px;
}

.download {
    padding: 140px 32px 170px;
    text-align: center;
}

.download__description {
    margin: 18px 0 48px;
}

.footer {
    background-color: var(--gray-100);
    text-align: center;
}

.footer__links-main {
    padding: 52px 0;
}

.footer__logo {
    width: 54px;
    margin: 0 auto;
}

.footer__list {
    margin: 48px 0 54px;
}

.footer__link {
    font-size: 18px;
    display: block;
    margin-bottom: 26px;
}

.footer__social {
    display: flex;
    padding: 0 112px;
    justify-content: space-between;
    align-items: center;
}

.footer__attribution { 
    font-size: 1rem;
    padding: 1rem;
}

.footer__attribution-link { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 750px) {
    .main {
        background-image: url(assets/images/bg-header-desktop.png);
     }

    .history {
        padding: 130px 0px 80px;
    }

    .history__logo {
        margin: 0 auto 54px;
    }

    .history__title {
        letter-spacing: -0.035em;
    }

    .history__description {
        letter-spacing: 0.0075em;
        margin: 16px auto 48px;
        max-width: 695px;
    }

    .history__btn-group,
    .download__btn-group {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .download__btn {
        padding: 16px;
        margin: 0;
        max-width: 228px;
        font-size: 18px;
        letter-spacing: 0.04em;
    }

    .keep-track {
        padding: 76px 0px 36px;
    }

    .keep-track__description {
        max-width: 720px;
        margin: 18px auto 80px;
        letter-spacing: 0.01em;
    }

    .keep-track__group {
        display: flex;
        gap: 78px;
    }

    .keep-track__image {
        position: relative;
        left: -32px;
        margin: 0;
    }

    .keep-track__list {
        text-align: start;
        margin-top: 68px;
    }

    .keep-track__item-description {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.0075em;
        max-width: 350px;
    }

    .keep-track__item {
        margin-bottom: 58px;
    }

    .access {
        padding: 116px 0px 36px;
        text-align: center;
    }

    .access__description {
        margin: 18px auto 100px;
        padding: 0;
        max-width: 680px;
        letter-spacing: 0.0075em;
    }

    .workflow {
        padding: 36px 30px;
        text-align: center;
    }

    .workflow__description {
        margin: 16px 0 80px;
        letter-spacing: 0.0075em;
    }

    .workflow__list {
        display: flex;
        justify-content: center;
        gap: 34px;
    }

    .workflow__item {
        max-width: 350px;
    }

    .workflow__item-description {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.0075em;
    }

    .workflow__item-title {
        margin: 32px 0 18px;
    }

    .workflow__item-title--text {
        margin: 40px 0 18px;
    }
    
    .workflow__item-title--preview {
        margin: 38px 0 18px;
    }

    .enterprises {
        padding: 64px 0 16px;
        display: flex;
        align-items: center;
        max-width: 1110px;
        margin: 0 auto;
    }

    .enterprises__logo {
        margin: 0;
        height: 100%;
    }

    .enterprises__logo--google {
        width: 185px;
        margin: 0 99px 0 0;
    }

    .enterprises__logo--ibm {
        width: 139px;
        margin: 0 95px 0 0;
    }

    .enterprises__logo--microsoft {
        width: 161px;
        margin: 0 97px 0 0;
    }

    .enterprises__logo--hp {
        width: 135px;
        margin: 0 94px 0 0;
    }

    .enterprises__logo--vector {
        width: 125px;
    }

    .download__description {
        margin: 20px auto 48px;
        max-width: 720px;
        letter-spacing: 0.0075em;
    }

    .download {
        padding: 140px 0 151px;
    }

    .footer__links-main {
        display: grid;
        grid-template-columns: 188px 1fr 120px;
        max-width: 1110px;
        margin: 0 auto;
        padding: 44px 0 40px;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__list {
        display: flex;
        text-align: start;
        gap: 98px;
        margin: 0;
    }
    
    .footer__link {
        margin-bottom: 20px;
    }

    .footer__item--install {
        position: relative;
        left: -20px;
    }

    .footer__social {
        padding: 20px 0;
        align-items: flex-start;
    }
}